* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.25px;
  text-wrap: pretty;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Layout*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 96px;
  background-color: #fdfdf8;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f2f2f2;
  display: flex;
  padding: 24px 0 0 0px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 96px 96px 40px 96px;
  max-width: 592px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.list-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.list-item-close {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.email {
  position: relative;
}

/* Texts & Links */

a {
  color: #222;
  text-decoration: none;
  outline: none;
  font-weight: 500;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

.tabular {
  font-variant-numeric: lining-nums tabular-nums;
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 8px;
}

h1,
h2,
p,
span {
  font-size: 0.938rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 1.5;
}

.secondary {
  color: #777;
}
.primary {
  color: #111;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}

.horizontal-stack {
  display: flex;
  gap: 16px;
}
/**/

.profile-pic {
  width: 80px;
  height: 88px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 56px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.container-copiar {
  position: relative;
  display: inline;
}

/* O Tooltip em si (invisível por padrão) */
.meu-tooltip {
  position: absolute;
  visibility: hidden;
  width: 120px;
  background-color: #fdfdf8;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  z-index: 1;

  bottom: 100%;
  left: -100%;
  /* Efeito suave */
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Classe que o JavaScript vai adicionar para mostrar o tooltip */
.mostrar-tooltip {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.3s;
}

.list-item-title-data {
  display: flex;
  gap: 12px;
}

#local-time {
  position: absolute;
  top: 96px;
  right: 96px;
}
